@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
 --main-font: inter, sans-serif;
 --primary-color: #667085;
 --logo-color: #3A404E;
 --secondary-color: #101828;
 --terciary-color: #8E2424;
 --color-white: #FFF;
 --border-color: #EAECF0;
}
html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: var(--main-font);
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 5em;
    font-weight: 500;
}

.header__nav div {
    display: flex;
    align-items: center;
    gap: 2em;
}

.header__nav--menu {
    margin-left: 7em;
    margin-right: auto;
}

.nav__link {
    color: var(--primary-color);
}

.nav__btn {
    color: var(--color-white);
    background-color: var(--terciary-color);
    border-radius: 0.5em;
    padding: 0.75em 1.5em; /*If the font-size scales up, the button scales up too*/
    text-align: center;
}
/*Section Abaout*/
.about {
    text-align: center;
    padding: 6em 27%;
}
.about__text {
    color: var(--terciary-color);
    font-weight: 600;
}
.about__title {
    font-size: 3rem;
    font-weight: 600;
    margin: 1.5rem 0;
    color: var(--secondary-color);
}
.about__paragraph {
    color: var(--primary-color);
    font-size: 1.25rem;
}

/*Section metrics*/

.metrics-wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 6rem;
}

.metrics {
    text-align: left;
    max-width: 280px;
}

.metrics__title {
    color: var(--terciary-color);
    font-size: 3.75rem;
    font-weight: 600;
}

.metrics__subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.7em 0 0.5em 0;
    color: var(--secondary-color);
}
.metrics__text {
    color: var(--primary-color)
}

/*Careers*/
.careers {
    text-align: center;
    padding: 6rem 0;    
}
.careers__hiring {
    display: inline-block;
    background-color: #8E24240D;
    border-radius: 16px;
    padding: 0.3em 0.8rem;
    color: var(--terciary-color);
    margin-bottom: 1rem;
}

.careers__title {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    color: var(--secondary-color);
}

.careers__text {
    font-size: 1.3rem;
    margin-bottom: 4rem;
}

/* jobs */

.jobs {
    width: 50%;
    margin: 0 auto;
}
.job-area h3,
.job-area h4 {
    color: var(--secondary-color);    
}
.job-area {
    margin-bottom: 4rem;
}
.job-area__title {
    font-size: 1.25rem;
    color: var(--secondary-color);
    font-weight: 500;
    margin-bottom: 2rem;
}

.position__item{
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    margin: 1rem 0;;
}
.position__info {
    color: var(--primary-color);
    font-weight: 500;
}
.position__title {
    margin-bottom: 2em;
    color: var(--secondary-color);
    font-size: 1.1rem;
    font-weight: 500;
}

/*Testimonials*/

.testimonials {
    background-color: #C3191908;
    padding: 4rem;
    text-align: center;
    margin: 0 7rem 6rem 7rem;
}

.testimonials__text {
    color: var(--terciary-color);
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.testimonials__opinion {
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--secondary-color);
    line-height: 44px;
    margin-bottom: 2rem;
}
.testimonials__img {
    display: inline-block;
}
.testimonials__name {
    color: var(--secondary-color);
    font-weight: 500;
    margin: 1rem 0 0.5rem 0;
}

.testimonials__job {
    font-size: 0.9rem;
}

/*contact*/

.contact {
    padding: 6rem 0;
    text-align: center;
    background-color: #F9FAFB;
}

.contact__title {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 1.2rem;
}

.contact__text {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}
.contact__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.contact__email {
    width: 360px;
    height: 48px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color);
    padding-left: 1rem;
    box-sizing: border-box;
}
.contact__email::placeholder {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
}

.contact__btn {
    /* display: inline-block; */
    text-decoration: none;
    font-weight: 500;
    padding: 0rem 1.2rem;
    color: var(--color-white);
    background-color: var(--terciary-color);
    border-radius: 8px;
    height: 48px;
    line-height: 48px;
    box-sizing: border-box;
}

.contact__copyright {
    color: #D0D5DD;
    margin-top: 2rem;
}